html {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Pacifico', cursive;
}
#css-table {
  display: table;
}
#css-table .col {
  display: table-cell;
  width: 50%;
  padding: 10px;
}
#css-table .col:nth-child(even) {
  background: #ccc;
}
#css-table .col:nth-child(odd) {
  background: #eee;
}
