/* ########## Defaults ###########*/
html {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Pacifico', cursive;
}

nav,header,footer{
  display: block;
}
body{
  background-color: #F8F4EE;
  font-family: 'Fira Sans'
}
body {
  line-height: 1;
  margin: 0;
}
section {
  background-image: url('Rainier.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 570px;
  height: 100vh;
  width: auto;
  margin-top: 0;
}
.container{
  width: 100%;
  margin: auto;
  padding-top:4%;
  padding-bottom: 500;
}
h2 {
  margin: 0;
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  font-family: 'Pacifico'
}
h3 {
  margin: 0;
  padding-top: 600px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
  font-family: 'Pacifico'
}
#Find-me {
  padding-top:30px;
  padding-bottom:30px;
  color: black;

}
h3.close {
  padding-top: 5px;
}
.row {
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 4%;
  padding-bottom: 4%;
  align-items: center;
}
.row::after {
  display:table;
  clear: both;
  content: "":
}
/*#######Custom Styles########*/
.column {
  float: left;
  width: 42%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding-left: 4%;
  padding-right: 4%;
  height:auto;
  display: table-cell;
}
h1.large {
  color:white;
  font-size: 56px;
  margin:0;
  line-height: 70px;
}
p{
  font-size: 35px;
}
#profile-pic {
  width: 70%;
  height: 70%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


/*###########Nav Bar ####*/

nav{
  width: 100%;
  margin: 0;
}
img {
  width: 200px;
  height: 200px;
}
nav ul {
  background-color: #6E7A87;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul.topnav li{
  list-style: none;
  float: left;
}

ul.topnav li a {
  display:block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #F8F4EE;
}
ul.topnav li.topnav-right{
  list-stle: none;
  float:right;
}

ul.topnav li a:hover{
  background-color: #0080ff;
  color: white;
}
ul.topnav li.dropdownIcon {
  display: none;
}
#dropDownNavBar {

}
/*######## Mobile ############*/
@media screen and (max-width:680px) {
  ul.topnav li:not(:nth-child(1)){
    display: none;
  }
  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }
  ul.topnav.responsive li.dropdownIcon{
    position: absolute;
    top: 0;
    right: 0;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li {
    display: inline;
    float: none;
  }
  ul.topnav.responsive li a{
    display:block;
    text-align: left;

  }
  .column {
    display: block;
    width: 92%;
    padding-left: 4%;
    padding-right:4%;
  }
}
